body { background: white; }
#elem_Ylf6ZJXLoN { color: rgb(46, 139, 235); }
#elem_l6Y3yqTdj6 { color: rgb(252, 75, 176); }
#elem_B8WmsKuWWq { color: rgb(30, 230, 119); }
#elem_fYfaKZqdUc { color: rgb(168, 220, 171); }
